.nav-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    max-height: 8vh;
    background-color: purple;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: #ffffff;
    text-decoration: none;
}